
<form class="form-signin text-center" (submit)="onSubmitForm()">
    <ng-template [ngIf]="!isLoading">
        <div *ngFor="let error of errors" class="alert alert-danger" role="alert">
            {{ error }}
        </div>
        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
        <label for="inputLogin" class="sr-only">Email address</label>
        <input [(ngModel)]="form.login" type="text" name="login" id="inputLogin" class="form-control" placeholder="Login or Email address" required="" autofocus="">
        <label for="inputPassword" class="sr-only">Password</label>
        <input [(ngModel)]="form.password" type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required="">
        <div class="checkbox mb-3">
            <label>
                <input [(ngModel)]="form.isRememberMe" name="rememberMe" type="checkbox" value="remember-me"> Remember me
            </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </ng-template>
    <div *ngIf="isLoading">
        <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
</form>
