<table class="table">
  <thead srvcorpTableHeaderHost>
    <tr srvcorpRowHeader [columns]="columns">
      <th srvcorpColumnHeader
          *ngFor="let column of columns; let i = index"
          [value]="column.title"
          [customContent]="column.header?column.header.elementRef:null"></th>
    </tr>
  </thead>
  <tbody srvcorpTableBodyHost>
    <tr srvcorpRow
        *ngFor="let dataItem of data; let i = index"
        [dataItem]="dataItem"
        [columns]="columns"
        [@rowBacklightToggle]="getRowStateName(i)">
      <td srvcorpColumnBody
          *ngFor="let column of columns; let j = index"
          [value]="dataItem[column.field]"
          [dataType]="column.dataType"
          [editMode]="column.editable && cellsStates[i][j].active"
          [customContent]="column.cell?column.cell.elementRef:null"
          [@cellBacklightToggle]="getCellStateName(i,j)"
          (mousedown)="cellMouseDown($event, i, j)"
          (mouseup)="cellMouseUp($event, i, j)"
          (mouseenter)="cellMouseEnter($event, i, j)"
          (mouseleave)="cellMouseLeave($event, i, j)"></td>
    </tr>
  </tbody>
</table>
