<table class="table">
  <thead srvcorpTableHeaderHost>
    <tr srvcorpRowHeader [columns]="columns">
      <th srvcorpColumnHeader
          *ngFor="let column of columns; let i = index"
          [value]="column.title"
          [customContent]="column.header?column.header.elementRef:null"></th>
    </tr>
  </thead>
  <tbody srvcorpTableBodyHost>
    <tr srvcorpRow
        *ngFor="let dataItem of data; let i = index"
        [dataItem]="dataItem"
        [columns]="columns"
        [@backlightToggle]="getRowStateName(i)"
        (mousedown)="rowMouseDown($event, i)"
        (mouseup)="rowMouseUp($event, i)"
        (mouseenter)="rowMouseEnter($event, i)"
        (mouseleave)="rowMouseLeave($event, i)">
      <td srvcorpColumnBody
          *ngFor="let column of columns; let i = index"
          [value]="dataItem[column.field]"
          [dataType]="column.dataType"
          [customContent]="column.cell?column.cell.elementRef:null"></td>
    </tr>
  </tbody>
</table>
